@import "src/scss/mixins";
@import "src/scss/variables";

.wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;

  .infoWrapper {
    justify-content: center;

    .info {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      .leftInfo {
        padding-right: rem(30);

        .data {
          color: $orange;
        }

        .city {
          font-size: rem(24);
          font-weight: bold;
        }

        .temp {
          display: flex;
          align-items: center;

          img {
            width: rem(100);
            height: rem(100);
          }

          p {
            font-size: rem(40);
            font-weight: bold;
          }
        }

        .desc {
          font-weight: bold;

          span {
            text-transform: capitalize;
          }
        }
      }

      .rightInfo {
        .cardInfo {
          width: content-box;
          border: 1px solid $grayIcon;
          border-radius: 5px;
          padding: 5px;

          div {
            padding-bottom: 1px;

            span {
              color: $orangeBtnBorder;
            }
          }
        }
      }
    }

    .hourlyWrapper, .hourlyFooter {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
    }

    .hourlyWrapper {
      align-items: flex-end;
      height: 100px;
      background-color: $grayIcon;

      .hour {
        flex: 1;
        height: 20px;
        text-align: center;
        background-color: $orange;
        color: white;
      }
    }

    .hourlyFooter {
      .time {
        flex: 1;
        font-size: rem(11);
      }
    }
  }

  .titleHourly, .time {
    text-align: center;
    color: $gray;
    border: 1px solid $grayIcon;
  }

  .progress {
    margin: 0 auto;
    color: $orange;
  }

  .btn {
    margin-top: 30px;
  }
}