@import "src/scss/variables";
@import "src/scss/mixins";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .btn {
    background-color: $orangeBtn;
    border-color: $orangeBtnBorder;
    padding-left: 10px;
    padding-right: 15px;
  }

  button {
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 45px;
    color: white;
    border: 1px solid transparent;
    font-size: rem(14);
    cursor: pointer;

    span {
      transform: scale(0.8);
      color: white;
    }

    &:hover {
      background-color: #9e6c6c;
      transition: background-color .5s;
    }

    &:active {
      background-color: #ead1d1;
    }
  }
}
